body{
    margin: 0;
    padding: 0;
    /* background: black; */
}
section{
    background: black;
}
aside{
    background: black
}
.splashContainer{
    color: white;
    text-align: center;
    font-size: 6rem;
    background: black;
    width: 100vw;
    height: 100vh;
}
h1{
    padding-top:20%;
    font-family: 'Nixie One', cursive;
}
#goPlay{
    color:white;
    background: rgb(247, 225, 101);
    padding: 2.5%;
    margin-top: 5%;
}
#goPlay:hover{
    opacity: 0.85;
}
.splashSubtitle1{
    font-size: 2.5rem;
    display: inline;
    padding-right: 2%;
}
.splashSubtitle2{
    font-size: 2.5rem;
    display: inline;
    padding-right: 2%;
}
.splashSubtitle3{
    font-size: 2.5rem;
    display: inline;
    padding-right: 2%;
}
.splashSubtitle1-1{
    font-size: 1.5rem;
    display: inline;
    padding-right: 2%;
}
.splashSubtitle2-1{
    font-size: 1.5rem;
    display: inline;
    padding-right: 2%;
}
.splashSubtitle3-1{
    font-size: 1.5rem;
    display: inline;
    padding-right: 2%;
}
.modalCardBody{
    color: black;

}
/* GAME PAGE */
a, .title{
    font-family: 'Nixie One', cursive;
    color:rgb(255, 255, 255);
}
.subtitle{
    display: inline;
    padding-right: 2%;
    font-size: 1em;
}

.gameSection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* position: absolute */
}
.table{
    /* border: solid thin white; */
    color: white;
    width: 50vw;
    height: 50vh;
    background: transparent;
    display: flex
}
.chips{
    display: flex;
    /* flex-direction: column; */
    padding-left: 25%;
    padding-bottom: 5%;
}
/* styling the grid */
.column {
	width: 120px;
    display: inline-block;
}
.container{
	text-align: center;
}
circle.player1 {
    stroke: rosybrown;
    stroke-width: 10
}
circle.player2 {
    stroke: rgb(247, 225, 101);
     stroke-width: 10
}