body{
    margin: 0;
    padding: 0;
    /* background: black; */
}
section{
    background: black;
}
aside{
    background: black
}
.splashContainer{
    color: white;
    text-align: center;
    font-size: 6rem;
    background: black;
    width: 100vw;
    height: 100vh;
}
h1{
    padding-top:20%;
    font-family: 'Nixie One', cursive;
}
#goPlay{
    color:white;
    background: rgb(247, 225, 101);
    padding: 2.5%;
    margin-top: 5%;
}
#goPlay:hover{
    opacity: 0.85;
}
.splashSubtitle{
    font-size: 2.5rem;
    display: inline;
    padding-right: 2%;
}
/* GAME PAGE */
a, .title{
    font-family: 'Nixie One', cursive;
    color:rgb(247, 225, 101);
}
.subtitle{
    display: inline;
    padding-right: 2%;
    font-size: 1em;
}

.gameSection{
    height: 100vh;
}
.table{
    /* border: solid thin white; */
    color: white;
    width: 50vw;
    height: 50vh;
    background: transparent;
    display: flex
}
/* styling the grid */
.column {
	width: 7vw;
	display: inline-block;
}
.container{
	text-align: center;
}
circle.player1 {
	stroke: rgb(142, 214, 208);
}

circle.player2 {
	stroke: rgb(247, 225, 101);
}