body{
    margin: 0;
    background: black;
    height: 100vh;
    width: 100vw;
}
.bg{
    background: url("images/circlebg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}
.overlay{
    background: rgba(0, 0, 0, 0.774);
    height: 100vh;
    width: 100vw;
}
.splashContainer{
    color: white;
    text-align: center;
    font-size: 6rem;

}
h1{
    padding-top:20%;
}
#goPlay{
    color:white;
    background: rgb(247, 225, 101);
    padding: 2.5%;
    margin-top: 5%;
}
#goPlay:hover{
    opacity: 0.85;
}
.splashSubtitle{
    font-size: 2.5rem;
    display: inline;
    padding-right: 2%;
}
/* GAME PAGE */
.title{
    font-family: 'Nixie One', cursive;
    color:white;
}
.subtitle{
    display: inline;
    padding-right: 2%;
    font-size: 1em;
}
a{
    color: white;
}
.gameSection{
    height: 100vh;
}
.table{
    border: solid thin white;
    color: white;
    width: 50vw;
    height: 50vh;
    background: transparent;
}
/* styling the grid */
.rows{
    border-top: solid transparent;
    border-bottom: solid transparent
}